html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Baloo 2', cursive;
}


ul{
	margin: 0px;
	padding-top: 16px;
	float: right;
	padding-right: 24px;  
}
#no-body{
	height: 60px;
}

nav{
	width: 100%;
	height: 60px;
	padding: 0 1rem;
	background-color: blue;
	color: white;
	position: fixed;
}


nav img{
	padding-top: 8px;
}
/*supaya tidak ada garis warna text*/
nav ul li a{
	text-decoration: none;
	color: #fff;
}
/*membuat jarak di section*/
section{
	padding: 40px;
}


li{
	list-style-type: none;
	display: inline-block;
	padding: 0 8px;
}

#hero{
	display: flex;
}

#info{
	width: 50%;
}
#info p{
	padding-right: 24px;
	line-height: 25px;
	color: #717171;
	font-size: 14px;
}

#gambar{
	width: 50%;
}

#gambar img{
	width: 100%;
	border-radius: 10px;
}

.colum{
	float: left;
	width: 33.33%;

}
.row:after{
	content: "";
	display: table;
	clear: both;
}

.navbar {
	width: 100%;
	height:30px; 
	padding: 0 1rem;
  background-color: blue;
  color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  
}